{% extends 'adminbase.html.twig' %}

{% block title %} Setting {% endblock %}

{% block content %}
<!-- Content -->
<div class="content">
    <h1>Edit Setting</h1>

    {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_setting_index') }}">back to list</a>

    {{ include('admin/setting/_delete_form.html.twig') }}
 </div>
    <!-- /.gontent -->
    </div>
{% endblock %}

