{% extends 'frontbase.html.twig' %}

{% block title %}Üye Profil Düzenleme{% endblock %}
{% block sidebar %} {% include ('home/_usersidebar.html.twig') %} {% endblock %}
{% block body %}


    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ path('home') }}">Anasayfa</a> <span class="divider">/</span></li>
            <li><a href="#">Hesabım</a> <span class="divider">/</span></li>
            <li class="active">Düzenleme</li>
        </ul>
    </div>
    <div class="row">

        <div class="span9">

                {{ include('userpanel/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="">back to list</a>

            <a href="">edit</a>



        </div>
    </div>

    </div> </div> </div>

{% endblock %}


