{% extends 'adminbase.html.twig' %}

{% block title %} ADMIN PAGE{% endblock %}

{% block content %}

    <div class="content">

        <div class="animated fadeIn">
            <div class="row" align="center">

               <h3> Admin Sayfasına Hoşgeldiniz {{ app.user.name }}</h3>

            </div>
        </div>

    </div>

{% endblock %}
