{% extends 'adminbase.html.twig' %}

{% block title %} Kategori Ekleme {% endblock %}

{% block content %}
<!-- Content -->
<div class="content">
    <font size=5>Kategori Ekleme</font>

    <br><br>
    <div class="content">
    {{ include('admin/category/_form.html.twig') }}
    </div>
    <!-- /.gontent -->
</div>
{% endblock %}

